.header {
  background-color: #ffffff;
  padding: "0 3rem";
  border-bottom: 1px solid #ffe8e8;
}

@media screen and (max-width: 600px) {
  .header {
    padding: "0 1rem";
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .main {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0.5rem;
  }
}

.list {
  list-style: none;
  gap: 1rem;
}
